<h1> About the Schools’ Collection </h1>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="https://doras.gaois.ie/cbeg/B021.16.00001.jpg?format=jpg&width=1240&quality=85" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
      </div>

    <div class="w3-col m6 w3-padding-large">
      <p class="w3-large">The Schools Collection is a subset of the Irish National Folklore Collection,
        the result of a unique country-wide folklore survey, under the leadership of Séamus Ó Duilearga and Seán Ó Súilleabháin.
        The materials in the Schools’ Collection were
        gathered by primary school students from 1937 to 1939. As part of their mission to “undertake the
        collection, preservation, classification, study, and exposition of all aspects of Irish folk
        tradition,” the NFC worked with teachers to assign young students to collect folklore, and bring
        their written answers back to the teacher. Almost 5000 primary schools across the country
        participated in the collection effort, including 129 from County Meath. The survey resulted in
        1,128 bound, numbered volumes, plus the original exercise books, for a total of approximately
        740,000 pages in the collection.
        <br>
        Digitization efforts began for the Schools’ Collection with the Dúchas project in 2012.
        All of the documents from the Schools’ collection are available online at duchas.ie. A majority
        of the School’s collection is now accessible in text transcript form, available for text search,
        text mining, and other research. This county library has been working closely with the
        team at Duchas to bring you an interactive version of the Schools’ Material focused on County Meath!
    </p>
    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h4>Co. Meath and the Schools' Collection</h4>
      <p class="w3-text-grey">
      Co. Meath Stats: <br>
      16,870 Transcripts <br>
      129 schools <br>
      16528 English language <br>
      206 Irish language <br>
      At least 1,000 collectors <br>
      <br>
      Most popular topics: <br>
      Riddles	<br>
      Local Cures	<br>
      Weather-Lore	<br>
      Local Place Names	<br>
      Proverbs	<br>
      Hidden Treasure	<br>
      My Home District	<br>
      Bird-Lore<br>
      Churning<br>
      Cures<br>
      </p>
      <p>
      We are working to build a modern day archive of County Meath Folklore
      to understand our local traditions and how they have changed over the past 100 years.
      We invite all residents to participate by commenting and submitting stories.
      </p>
      <p class="w3-text-grey">
      See this Scoilnet project, <a href="https://www.scoilnet.ie/threads"> Threads,</a> for more modern folklore collecting!
      </p>
      </div>


  </div>

  <hr>

<!-- End page content -->
</div>
