<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large">
      <h1> What is Folklore? </h1>
      <p class="w3-large">
        Folklore is art and information that is passed down by word of mouth.
        <br>
        Folklore can be stories, history, festivals, ways of making things, or ways of living.
        <br>
        Folklore can be very old, or relatively new, any story that tells us more about what life has been like, or what people talk about, in County Meath.
    </p>
    <div class="w3-col l6 w3-padding-large">

      <p>
      Ready to write down your story?
      </p>
      <h4>Click <a href=<%= new_story_path %> >Here</a> to Submit</h4>

      </div>
      <br>
      <div >
        <img src="https://doras.gaois.ie/cbeg/G006.16.00009.jpg?format=jpg&width=1240&quality=85" class="w3-round w3-image w3-opacity-min" alt="Devices for Curing" width="600" height="750">
        <p> Rathcarran, Co. Meath, 1997 </p>
        </div>

    </div>


    <div class="w3-col m6 w3-padding-large">
      <p class="w3-text-grey">
        If you’re not sure what to write about, these are the original 55 topics of the Schools’ Collection:<br>
        •	 A Collection of Prayers<br>
        •	 A Collection of Riddles<br>
        •	 Religious Stories<br>
        •	 An Old Story<br>
        •	 The Local Patron Saint<br>
        •	 Stories of the Holy Family<br>
        •	 Buying and Selling<br>
        •	 Strange Animals<br>
        •	 Clothes Made locally<br>
        •	 Fairy Forts<br>
        •	 Festival Customs<br>
        •	 Food in Olden Times<br>
        •	 Games I Play<br>
        •	 A Funny Story<br>
        •	 Historical Tradition<br>
        •	 Home-made Toys<br>
        •	 In the Penal Times<br>
        •	 Local Cures<br>
        •	 Local Happenings<br>
        •	 Local Heroes<br>
        •	 Local Marriage Customs<br>
        •	 Local Monuments<br>
        •	 Local Place-names<br>
        •	 The Landlord<br>
        •	 Famine Times<br>
        •	 My Home District<br>
        •	 Old Crafts<br>
        •	 Old Houses<br>
        •	 Old Irish Tales<br>
        •	 Old Schools<br>
        •	 Our Holy Wells<br>
        •	 Proverbs<br>
        •	 Local Cures<br>
        •	 Local Poets<br>
        •	 Local Ruins<br>
        •	 A Song<br>
        •	 Bird Lore<br>
        •	 Herbs<br>
        •	 Bread<br>
        •	 Churning<br>
        •	 The Local Fairs<br>
        •	 The Local Forge<br>
        •	 Emblems and Objects of Value<br>
        •	 The Local Roads<br>
        •	 The Lore of Certain Days<br>
        •	 The Old Graveyards<br>
        •	 The Potato-crop<br>
        •	 Weather Lore<br>
        •	 Stories of Giants and Warriors<br>
        •	 The Leprechaun or Mermaid<br>
        •	 The Care of the Feet<br>
        •	 Travelling Folk<br>
        •	 Hurling and Football Matches<br>
        •	 The Care of Our farm Animals<br>
        But don’t feel limited to those! More topics can be found at https://www.scoilnet.ie/threads/plan-a-story/choose-your-topic

    </p>
    </div>

<!-- End page content -->
</div>
