<p>
The below are suggested as possible lessons in order to demonstrate the breadth
of the collection and inspire possibilities for different subjects:
</p>

<h1>Games I play</h1>
<p class="w3-large">
Studying games in the context of the 1937 Schools’ collection offers a new way
of looking at an activity that students engage in every day.
</p>
<h6 class="w3-center">
“Children play a lot of different games.  So here are some games we play at
school.”
<a href="https://www.duchas.ie/en/cbes/5009016/4977473">(source)</a></h6>
<p class="w3-large">
<b>Class:</b> Lesson: games around the world (resources) Discuss: what is
folklore? Do games count as folklore? What kinds?
<br>
<b>Homework:</b> On the website, read two descriptions of games that you have
played before. Write a comment on each that says what rules are the same and
what are different from how you play this game.
</p>
<hr>

<h1>Severe Weather</h1>
<p class="w3-large">
Using narratives of big storm stories helps draw connections between the
natural and human world. These stories help us understand how our land,
families, and towns have been shaped by natural forces.
</p>
<h6 class="w3-center">
“There was a very severe thunderstorm in the month of July 1888. It lasted
three hours. The lightning struck the chimney of Mrs Reilly's house in
Castletown and knocked it off. It burned potatoes in Cuddens garden in Cross
Guns and it spit trees in Raffin.”
<a href="https://www.duchas.ie/en/cbes/5008997/4975226">(source)</a></h6>
<p class="w3-large">
<b>Class:</b> Lesson: different weather phenomena, with a focus on the history
and science of The Big Wind (resources link). Discuss: what big storms do you
remember? What kind of weather is the most dangerous? What kinds of things
depend on the weather?
<br>
<b>Homework:</b> choose a story of a specific weather event that affected
Meath County. Write a paragraph about that weather event and what kinds of
forces cause it. Look up that day or month in the historic measures of rainfall
and temperature (here and here). Was it a big change from the days or
months around it?
</p>
<hr>

<h1>Hedge Schools</h1>
<p class="w3-large">
The Hedge Schools of the 19th century were a bold and risky endeavor, and a
testament to the right to education. There are dozens of recollections of hedge
schools in County Meath, stories often told by those who actually remember
attending these informal institutions.
</p>
<h6 class="w3-center">
“There were schools held behind hedges and in the fields and if it was raining
theywere held in a barn or in a stable and sometimes in a farmer's house.
During the day the young children that were not working went to school. They
used to bring sods of turf to sit on and sometimes they sat on heaps of
heather. They learned English, Irish, Latin. Greek and
Mathematics and when they grew up they were very learned.”
<a href="https://www.duchas.ie/en/cbes/5008968/4971877">(source)</a></h6>
<p class="w3-large">
<b>Class:</b> Lesson: history of the hedge schools (resources link). Discuss:
Why was schooling, in particular, policed during that time? How were teachers
at the hedge schools paid? What did this kind of payment system do for the
community?
<br>
<b>Homework:</b> Using the interactive map, find a hedge school that was held
near where you live or where someone in your family lives. Read the story about
that school and write a paragraph about what is different from your own school
experience.
</p>

<style>.embed-container {position: relative; padding-bottom: 80%; height: 0;
  max-width: 100%;} .embed-container iframe, .embed-container object,
  .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%;
  height: 100%;} small{position: absolute; z-index: 40; bottom: 0;
  margin-bottom: -15px;}</style><div class="embed-container"><iframe
  width="500" height="400" frameborder="0" scrolling="no" marginheight="0"
  marginwidth="0" title="Hedge Schools in County Meath"
  src="//iu.maps.arcgis.com/apps/Embed/index.html?webmap=484f5d28e68046438ec89e3b47fe79af&extent=-7.5435,53.3071,-5.9422,53.9763&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light">
</iframe></div>
