<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div>
      <h1 class="w3-center">The Schools' Collection</h1><br>
      <h5 class="w3-center">Collected 1937-1938</h5>
      <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="County Meath Schools" src="//iu.maps.arcgis.com/apps/Embed/index.html?webmap=e76a81589c1840069fa241fd33d9a7a4&extent=-7.5774,53.2829,-5.9871,53.9936&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>
      </div>
  </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h4>Click <a href="/topics" >Here</a> to Explore Co. Meath Folklore</h4>

      <h4>Click <a href=<%= new_story_path %> >Here</a> to Submit Your Own Folklore</h4>

      </div>


  </div>

  <hr>

<!-- End page content -->
</div>
