<h1>Stories#index</h1>
<ul>
  <% @stories.each do |story| %>
    <li>
      <%= link_to story.title, story %>
    </li>
  <% end %>
</ul>

<p><button class="w3-button w3-light-grey w3-section" type="submit">
<%= link_to "Submit Your Own!", new_story_path %>
</p>
